body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    text-align: center;
}

h1 {
    margin-top: 10px;
}

#controls {
    margin: 15px auto;
    padding: 10px;
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0002;
}

#container {
    width: 100vw;
    height: 70vh;
    background: #ddd;
}

.status {
    margin-top: 20px;
    font-size: 20px;
}
